
body {
	background-color: #dcdcdc;
}

form {
	background-color: lightblue;
	border: 3px solid #444444;
	padding: 10px;
	color: #222222;
	width: 450px;
	height: 250px;
	margin: 50px;
}

label{
	font-size: 24px;
	margin: 10px;
}

p {
	width: 120px;
	height: 40px;
	background-color: #222222;
	color: white;
	padding: 10px;
	margin-left: 140px;
	font-size: 28px;
	text-align: center;
	border: 5px solid #555555;
}

#buton1 {
	background-color: lightgrey;
	padding: 15px;
	margin-left: 25px;
	opacity: 0.8;
}

#buton1:hover {
	opacity: 1;
}

#sayi1 {
	margin-left: 10px;
	padding: 5px;
}

#sayi2 {
	margin-left: 20px;
	padding: 5px;
}

h1 {
	font-size: 40px;
	margin-top: 100px;
}